@media screen and (min-width: 680px){*/
  

    /********************************
    Page: Portfolio
    *********************************/
/*
    #gallery li{
      width: 28.3333%;
    }
  

}
*/
    /********************************
    Page: Portfolio
    *********************************/

@media screen and (max-width: 425px){
 
    /********************************
    Header
    *********************************/
    
/*
    nav {
      background: none;
      font-size: 1.25em;
      margin-right: 5%;
      text-align: right;
      width: 45%;
    }
  
*/
  