<div ng-controller="myController">
    <div class='container'>
        <div class='row'>
            <div id="wrapper" class='well'>
                <h2 id='aboutHeader'>About Me</h2>
                <div id='ryanphoto'> <img src="img/ryan-photo1.jpg" alt="Ryan Bacastow" class="profile-photo">
                </div>
                <section id="about_section">
                    <p> Hello, I'm Ryan Bacastow and this is my digital resume. I specialize in both front and back end web development and data analytics.
                        <br><br> I work with various frameworks such as AngularJS, NodeJS, Django, Django-Rest, and a myriad of Python libraries a to deliver concise applications and analyses.
                        <br><br> I can create web APIs, build out the server side of your application, or give your clients a desireable user experience. I also do extensive data analysis tasks with the help of an education in statistics and the powerful python libraries available for scientific statistical data analysis and presentation.
                        <br><br> Altogether, my skillsets enable me to create programs and solutions that meet various commercial and individual needs and I find them to be vital to dynamic teams on a variety of projects. I look forward to meeting your team's needs.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>
