
        <h1>Ryan Bacastow</h1>
        <h2>Language Specialist | Developer</h2>
    </header>
    <div id="wrapper">
      <section>
        <img src="img/ryan-photo1.jpg" alt="Ryan Bacastow" class="profile-photo">
        <h3>About</h3>
        <p> Hi, I'm Ryan Bacastow! This is my design portfolio for my favorite work. I have a background in linguistics from the University of Wisconsin, and I love to learn and speak languages, both human and digital! I specialize in both front end languages such as HTML, CSS, and Javascript as seen on this website I built, as well as back end languages like Python and Sequel which enable me to create programs capable of meeting various commercial data analysis needs. I also speak Spanish, French, and Portuguese. I find my skillsets to be vital to dynamic and international teams on a variety of projects.</p>
      </section>
      <footer>
        <a href="http://facebook.com/rbacastow"><img src="img/facebook-wrap.png" alt="Facebook Logo" class= "social-icon"> </a>
        <a href="https://www.linkedin.com/in/ryan-bacastow-9664b57a/"><img src="img/Linkedin-Icon.png" alt="LinkedIn Logo" class= "social-icon"></a>
        <p>&copy; 2017 Ryan Bacastow.</p>
    </footer>
      </div>
   </body>
</html>
