<div ng-controller="myController">
    <div id="wrapper" class='container'>
        <div class='row'>
            <div class='well'>
                <h2>Backend Projects</h2>
                <a href="http://devhire.ryanbacastow.com/#!/" target="_blank">
                    <h3>DevHire.com</h3>
                </a>
                <p id="description">DevHire is a website created to serve company hiring needs, specifically with respect to developers. Click here to visit the site.</p>
                <a href="http://devhire.ryanbacastow.com/#!/" target="_blank"><img src="img/devhire_img.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
