<div ng-controller="myController">
    <div class='container'>
        <div id="wrapper" class='well'>
            <section id="primary">
                <h2>Contact Information</h2>
            </section>
            <section id="secondary">
                <p>You can reach me with any questions through the following links:</p>
                <ul class="contact-info">
                    <h3>
                    <li class="mail"><a href="mailto:rmb2323@gmail.com">rmb2323@gmail.com</a></li>
                    <li class="phone"><a href="tel:630-632-4391">630-632-4391</a></li>
                    <li class="linkedin"><a href="https://www.linkedin.com/in/ryan-bacastow-9664b57a/">LinkedIn</a></li>
                    </h3>
                </ul>
            </section>
        </div>
    </div>
</div>
