<div ng-controller="myController">
    <div class='container'>
    <div id="wrapper" class='well'>
        <section id="primary">
            <h3>Contact Information</h3>
            <p>You can reach me with any questions through the following links:</p>
        </section>
        <section id="secondary">
            <h3>Contact Details</h3>
            <ul class="contact-info">
                <li class="mail"><a href="mailto:rmb2323@gmail.com">rmb2323@gmail.com</a></li>
                <li class="phone"><a href="tel:630-632-4391">630-632-4391</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/in/ryan-bacastow-9664b57a/">LinkedIn</a></li>
            </ul>
        </section>
    </div>
    </div>
</div>
