<div ng-controller="myController">
    <div id="wrapper" id="wrapper" class='container'>
        <div class='row'>
            <div class='well'>
                <h2>Data Analysis</h2>
                <p id="description">I have experience applying statistical methods to various datasets in order to identify patterns and provide detailed visual representations of cross-sections of data. Specifically I work with the following python libraries to provide these services: NumPy, MatPlotLib, Pandas, and SeaBorn.</p>
                <img src="img/data_img.jpg" alt="">
            </div>
        </div>
    </div>
</div>
