<div ng-controller="myController">
    <div id="wrapper" id="wrapper" class='container'>
        <div class='row'>
            <div class='well' id="dataWell">
                <h2>Data Analysis</h2>
                <p id="description">I have experience applying statistical methods to various datasets in order to identify patterns and provide detailed visual representations of cross-sections of data.</p>
                <img src ="img/data-analytics-tools.png" alt="">
            </div>
        </div>
    </div>
</div>
