<div ng-controller="myController">
    <div id="wrapper" class='container'>
        <div class='row'>
            <div class='well'>
                <a href="http://glysemix.ryanbacastow.com" target="_blank">
                    <h2>Glysemix.RyanBacastow.Com</h2>
                    <img src="img/glysemix_img.png" alt="">
                    <p id="description">Glysemix is a web API that I built to provide consumers with nutritional information based on the sugar and carbohydrate content of food products, restaurant items, and ingredients. It is powered by the Nutritionix Web API and utilizes an AngularJS web framework to navigate quickly and seamlessly between its utilities. Click anywhere to visit the site!</p>
                </a>
            </div>
        </div>
    </div>
</div>
