<div ng-controller="myController">
    <div class='container'>
        <div class="jumbotron">
            <a href="index.html" id="logo">
                <h1>Ryan Bacastow</h1>
                <h2>Data Analyst | Developer</h2>
        </div>
        <div class='row'>
            <div id='navDiv'>
                <nav-bar></nav-bar>
            </div>
        </div>
        <div id="wrapper">
            <section>
                <img src="img/ryan-photo1.jpg" alt="Ryan Bacastow" class="profile-photo">
                <h3>About</h3>
                <p> Hi, I'm Ryan Bacastow! This is my design portfolio for my favorite work. I have a background in linguistics so I love to learn and speak languages, both human and digital! I specialize in languages such as Python and Ruby which enable me to create programs capable of meeting various commercial data analysis needs. I also speak Spanish, French, and Portuguese. I find my skillsets to be vital to dynamic and international teams on a variety of projects. If you'd like to reach me please feel free to email me at rmb2323@gmail.com.</p>
            </section>
            <footer>
                <a href="http://facebook.com/rbacastow"><img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"> </a>
                <a href="https://www.linkedin.com/in/ryan-bacastow-9664b57a/"><img src="img/Linkedin-Icon.png" alt="LinkedIn Logo" class="social-icon"></a>
                <p>&copy; 2017 Ryan Bacastow.</p>
            </footer>
        </div>
    </div>
</div>
</div>