<div ng-controller="myController">
    <div id="wrapper" class='container'>
        <div class='row'>
            <div class='well'>
                <h2>Frontend Projects</h2>
                <a href="http://glysemix.ryanbacastow.com" target="_blank">
                    <h3>Glysemix.com</h3>
                </a>
                <p id="description">Glysemix is an API that I built to provide consumers with nutritional information based on the sugar and carbohydrate content of food products, restaurant items, and ingredients. Click the image to visit the site and search your favorite foods.</p>
                <a href="http://glysemix.ryanbacastow.com" target="_blank">
                    <img src="img/glysemix_img.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
