<div ng-controller="myController">
    <div class='container row'>
        <div id="wrapper">
            <section>
                <ul id="gallery">
                    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                        <li>
                            <a ng-href="#/front-end">
                                <img src="img/lauren-mancke-60627.jpg" alt="">
                                <p>Front End</p>
                            </a>
                        </li>
                    </div>
                    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                        <li>
                            <a ng-href="#/back-end">
                                <img src="img/server-photo.jpg" alt="">
                                <p>Back End</p>
                            </a>
                        </li>
                    </div>
                    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                        <li>
                            <a ng-href="#/all-projects">
                                <img src="img/notebooks.jpg" alt="">
                                <p>All Projects</p>
                            </a>
                        </li>
                    </div>
                    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                        <li>
                            <a ng-href="#/data-analysis">
                                <img src="img/computer.jpg" alt="">
                                <p>Data Analysis</p>
                            </a>
                        </li>
                    </div>
                </ul>
            </section>
        </div>
    </div>
</div>
