<div ng-controller="myController">
    <div class='container'>
        <div id="wrapper">
            <section>
                <ul id="gallery">
                    <li>
                        <a ng-href="#/front-end">
                            <img src="img/lauren-mancke-60627.jpg" alt="">
                            <p>Front End</p>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/back-end">
                            <img src="img/server-photo.jpg" alt="">
                            <p>Back End</p>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/all-projects">
                            <img src="img/notebooks.jpg" alt="">
                            <p>All Projects</p>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/data-analysis">
                            <img src="img/computer.jpg" alt="">
                            <p>Data Analysis</p>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
