<div ng-controller="myController">
    <div class='container'>
        <div class="well">
            <a ng-href="/" id="logo">
                <h1>Ryan Bacastow</h1>
                <h2>Data Analyst | Developer</h2>
            </a>
            
        </div>
        <div class='row'>
            <div id='navDiv'>
                <nav-bar></nav-bar>
            </div>
        </div>
  <div id="wrapper">
    <section>
      <ul id="gallery">
        <li>
          <a ng-href="#/front-end">
            <img src="img/notebooks.jpg" alt="">
            <p>Front End</p>
           </a>
        </li>
        <li>
          <a ng-href="#/all-projects">
            <img src="img/computer.jpg" alt="">
            <p>All Projects</p>
           </a>
        </li>
        <li>
          <a ng-href="#/back-end">
           <img src="img/patterned.jpg" alt="">
           <p>Back End</p>
         </a>
        </li>
        <li>
          <a ng-href="#/data-analysis">
            <img src="img/server-photo.jpg" alt="">
            <p>Data Analysis</p>
           </a>
        </li>
        <li>
          <a ng-href="#/contributions">
            <img src="img/bracing.jpg" alt="">
            <p>Contributions</p>
           </a>
        </li>
      </ul>
    </section>
    <footer>
      <a href="http://facebook.com/rbacastow"><img src="img/facebook-wrap.png" alt="Facebook Logo" class= "social-icon"> </a>
      <a href="https://www.linkedin.com/in/ryan-bacastow-9664b57a/"><img src="img/Linkedin-Icon.png" alt="LinkedIn Logo" class= "social-icon"></a>
      <p>&copy; 2017 Ryan Bacastow.</p>
    </footer>
  </div>
</div>
</div>
