<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div>
            <ul class="nav navbar-nav nav-tabs " role="tablist" id='navTabs1'>
                <li role="presentation"><a ng-href="#/" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a ng-href="#/about" role="tab" data-toggle="tab">About</a></li>
                <li role="presentation"><a ng-href="#/back-end" role="tab" data-toggle="tab">Back End</a></li>
                <li role="presentation"><a ng-href="#/front-end" role="tab" data-toggle="tab">Front End</a></li>
                <li role="presentation"><a ng-href="#/all-projects" role="tab" data-toggle="tab">All Projects</a></li>
                <li role="presentation"><a ng-href="#/data-analysis" role="tab" data-toggle="tab">Data Analysis</a></li>
                <li role="presentation"><a ng-href="#/contributions" role="tab" data-toggle="tab">My Contributions</a></li>
                <li role="presentation"><a ng-href="#/contact" role="tab" data-toggle="tab">Contact</a></li>

                <li class="dropdown" id='searchDropdown'>
                    <a href="/main.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Search Options</strong><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a ng-href="#/" role="tab" data-toggle="tab"><a ng-href="#/">1</a></li>
                        <li role="presentation"><a ng-href="#/" role="tab" data-toggle="tab"><a ng-href="#/">2</a></li>
                        <li role="presentation"><a ng-href="#/" role="tab" data-toggle="tab"><a ng-href="#/">3</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
